<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
  </head>
  <body>
    <!-- <py-config>
      packages = ["matplotlib", "pandas", "heartpy"]
    </py-config>
    <py-script>
      import heartpy as hp
      import matplotlib.pyplot as plt

      print('Hello, World!')
      data, timer = hp.load_exampledata(0)
      
      print(data)
    </py-script> -->
    coba
  </body>
</html>